  .modal {
    --bs-modal-width: 100vw !important;
    padding: 0px !important;
  }

  .modal-dialog {
    margin: 0 !important;
    width: 100vw !important;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-content {
    flex-direction: row;
    width: min-content !important;
    background-color: transparent !important;
    align-items: center;
    border: none !important;
  }

  .modal .carousel-inner {
    height: min-content;
    border-radius: 10px !important;
  }
